.footer
  padding: 46px 74px
  border-top: 1px solid #272E28

.footer__content
  display: flex
  justify-content: space-between
  margin: 0 auto
  width: 100%
  max-width: 1060px

.footer__menu
  max-width: 100px
  color: #272E28

.footer__item 
  margin-bottom: 30px

.footer__link
  font-family: 'Roboto'
  font-style: normal
  font-weight: 800
  font-size: 16px
  line-height: 19px
  text-transform: uppercase
  color: #272E28
  &:hover
    color: #7FAD39

.footer__info 
  width: 100%
  max-width: 380px
  display: flex
  flex-wrap: wrap

.footer__policy
  display: flex
  flex-wrap: wrap
  justify-content: flex-end
  align-items: center

.footer__col
  display: flex
  align-items: center
  font-family: 'Roboto'
  font-weight: 700
  font-size: 18px
  line-height: 129%
  text-align: right
  color: #272E28
  margin-bottom: 30px
  &::after
    margin-left: 30px
    display: block
    content: ''
    width: 40px
    height: 35px
    background-image: url('../images/metka.png')
    background-repeat: no-repeat
    background-position: center

.footer__col-number
  display: flex
  align-items: center
  font-family: 'Roboto'
  font-weight: 700
  font-size: 18px
  line-height: 129%
  text-align: right
  color: #272E28
  margin-bottom: 30px
  &::after
    margin-left: 30px
    display: block
    content: ''
    width: 32px
    height: 32px
    background-image: url('../images/phone.png')
    background-repeat: no-repeat
    background-position: center

.footer-soc__icons
  width: 198px
  display: flex
  justify-content: space-between
  margin: 0 auto
  margin-bottom: 36px

.footer-soc__vk
  display: block
  width: 26px
  height: 26px
  background: url('../images/Vector.png') center no-repeat

.footer-soc__ok
  display: block
  width: 26px
  height: 26px
  background: url('../images/ok.png') center no-repeat

.footer-soc__tg
  display: block
  width: 37px
  height: 27px
  background: url('../images/tg.png') center no-repeat

.footer__btn
  display: block
  width: 227px
  margin: 0 auto
  padding: 11px 0
  font-family: $font-family-base
  font-weight: 800
  font-size: 18px
  text-align: center
  letter-spacing: 0.05em
  color: #FFFFFF
  background: #7FAD39
  border-radius: 10px
  &:hover
        background: linear-gradient(95.08deg, #7FAD39 -0.32%, #B1D17F 52.97%, #7FAD39 100.31%)