.welcome
  background: url('../images/welcome.png') no-repeat center
  padding-top: 45px
  background-size: cover
  height: 800px

.welcome__title
  // font-family: $font-family-base
  // font-weight: $font-weight-normal
  font-size: 68px
  line-height: 68px
  text-align: center
  text-transform: lowercase
  color: #FFFFFF
