// FONT FAMILY
$font-family-base: 'Roboto-Regular', sans-serif;
$font-family-bold: 'Roboto-Bold', sans-serif;
$font-family-black: 'Roboto-Black', sans-serif;
$font-family-light: 'Roboto-Light', sans-serif;
$font-family-medium: 'Roboto-Medium', sans-serif;
$font-family-thin: 'Roboto-Thin', sans-serif;

$font-montserrat-ExtraBold: 'Montserrat-ExtraBold', sans-serif;
$font-montserrat-SemiBold: 'Montserrat-SemiBold', sans-serif;

$font-weight-thin: 100;           // Thin (Hairline)
$font-weight-extra-light: 200;    // Extra Light (Ultra Light)
$font-weight-light: 300;          // Light
$font-weight-normal: 400;         // Regular (normal)
$font-weight-medium: 500;         // Medium
$font-weight-semi-bold: 600;      // Semi Bold (Demi Bold)
$font-weight-bold: 700;           // Bold
$font-weight-extra-bold: 800;     // Extra Bold (Ultra Bold)
$font-weight-black: 900;          // Black (Heavy)


$color-akcent: '#7FAD39';
$title-color: '#000000';
$suptitle-color: '#094200';
$link-color: '#ffffff';
$text-color: #272E28;

