section.become-dealer
  .become-dealer__content
    .become-dealer__pic
    .become-dealer__text
      h2.become-dealer__title.title become a dealer
      .become-dealer__subtitle.subtitle Do you want to become a Joli retailer? Please submit the following form and we will contact you!
      a.become-dealer__btn.btn-outline(href="#") Learn more
    