- var dealerTitle = "find a dialer";
- var dealerSubtitle = "We work together with dealers in 19 countries, all over the world. Find out which one is closest to you.";

section.dealer
  .dealer__content
    .dealer__text
      h2.dealer__title.title= dealerTitle
      .dealer__subtitle.subtitle= dealerSubtitle
      form.dealer__form(action="search") 
        input.dealer__input(type="text", placeholder="Your location")
        button.dealer__btn.btn-outline(type="submit") search
    .dealer__pic