-
  const text = "Доставка продукции в срок и в полном объеме \"золотое правило\" нашей компании. Для обеспечения своевременной и систематичной поставки на объекты наших клиентов, мы используем более 20 единиц грузовой техники, поэтому доставка осуществляется на следующий день после: Оформления заказа (для физических лиц); После поступления денежных средств на расчетный счет (для юридических лиц).";

section.delivery
  .container
    .delivery__title.title доставка
    p.delivery__text= text
    .delivery__wrap
      .delivery__retail
        .delivery__retail-text Доставка в розницу осуществляется собственным транспортом.
        .delivery__retail-pic
      .delivery__wholesale
        .delivery__wholesale-text Оптовые поставки осуществляются автотранспортом и по Ж/д.
        .delivery__wholesale-pic
        
    