- const menu = ['главная', 'контакты', 'о нас', 'оптовикам'];
  
.footer
  .container
    .footer__content
      ul.footer__menu
        each link in menu
          li.footer__item
            a(href="#").footer__link= link
      .footer__info 
        .footer__policy
          .footer__col Г. МАКЕЕВКА, УЛ. ЯНКИ КУПАЛЫ, 1, ГОРНЯЦКИЙ РАЙОН
          .footer__col-number +7 988 289 2387
          .footer-soc__icons
            a.footer-soc__vk(href='#')
            a.footer-soc__ok(href='#')
            a.footer-soc__tg(href='#')
          a.footer__btn(href="#") заказать звонок
          



          