section.head-info
    .container
        .head-info__wrap
            .head-info__left
                a.head-info__logo(href="/")
                .head-info__left-wrap
                    .head-info__working работа склада с 8:00 до 20:00
                    .head-info__delivery доставка 24/7
            .head-info__addres ул. Янки Купалы, 1, Горняцкий район, Макеевка
            .header-info__phone +380 (6232) 7-39-16