-
  var navMenu = 
  [
    {link: 'Collections', href: '#'},
    {link: 'Products', href: '#'},
    {link: 'Inspiration', href: '#'}, 
    {link: 'About us', href: '#'},
    {link: 'Find a dealer', href: '#'}
  ];

header.header
  ul.header__nav-links
    each val in navMenu 
      li.header__nav-item
        a(href=val.href).header__nav-link= val.link