section.request
    .container
        .request__contant
            h2.request__title Rquest our 2022 catalogue.
            form.request-form(action="request")
                .request-form__wrap
                    label.request-form__email Email address  *
                        input.request-form__input(type="email" placeholder="")
                    .request-form__policy I agree with the Privacy & Cookie Policy of Joli
                button.request-form__send.btn-outline(type="submit") send