section.services
  .container
    .services__content
      h2.services__title.title Terrace <br> Ceremonies & Meetings
      a.services__btn.btn-outline(href="#") Inspire me
  .services__left-pic
  .services__bottom-pic
  .services__right-pic
