//- include components/libs/_libs

doctype html
html(lang="zxx")
  include components/_head
  include components/_header-info
  include components/_header
  include components/_welcome-screen
  include components/_products
  include components/_benefits
  include components/_stock
  include components/_delivery
  include components/_wholesalers
  include components/_about
  include components/_comment
  include components/_callBack
  include components/_contacts
  include components/_footer
