//- include components/libs/_libs

doctype html
html(lang="zxx")
  include components/_head
  include components/_welcome-screen
  //- include components/_making
  //- include components/_collections
  //- include components/_dealer
  //- include components/_services
  //- include components/_about
  //- include components/_become-dealer
  //- include components/_noname
  //- include components/_request
  //- include components/_footer
